<div class="hotel-app__resident-table">
  <table class="table"
         *ngIf="characteristics">
    <tr class="tier">
      <th class="tier__th_small">id</th>
      <th class="tier__th">Название</th>
      <th class="tier__th">Описание</th>
    </tr>
    <tr class="tier"
        *ngFor="let item of characteristics"
        (click)="onEdit(item)"
    >
      <td class="tier__td">{{item.idCharacteristic}}</td>
      <td class="tier__td">{{item.nameCharacteristic}}</td>
      <td class="tier__td">{{item.description}}</td>
    </tr>
  </table>
</div>
<button
  class="button"
  mat-raised-button
  (click)="onCreate()"
>
  Добавить
</button>
